<h2 id='title'>GoCouchie</h2>
<h4>Try to remember to always go Couchie.</h4>
<div class="row">
	<div class="col-sm-3 col-md-3">
		<ul class="nav nav-sidebar">
			<li>{{#link-to "social"}}Couchie Social Network{{/link-to}}</li>
			<li>{{#link-to "counter"}}Site Counter{{/link-to}}</li>
			<li>{{#link-to "quarterly"}}Quarterly Projections{{/link-to}}</li>
			<li>{{#link-to "resources"}}Resources{{/link-to}}</li>
		</ul>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3">
		{{outlet}}
	</div>
</div>
